<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Fraiz.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Sergi</h1>
		<p>This week I built a blog on Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
	</div>
</div>